*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family: Arial, sans-serif;
    padding:30px;
}

h1{
    margin-bottom:20px;
}

.container{
    display:flex;
    gap:50px;
    align-items:flex-start;
    margin-bottom:40px;
}

form{
    width:300px;
    display:flex;
    flex-direction:column;
    gap:10px;
}

input,
select,
button{
    padding:10px;
    font-size:16px;
}

button{
    cursor:pointer;
}

.card-preview{
    width:380px;
    height:220px;
    background:linear-gradient(135deg,#1d3557,#457b9d);
    border-radius:20px;
    color:white;
    padding:20px;
    position:relative;
    box-shadow:0 4px 10px rgba(0,0,0,0.3);
}

.bank-logo{
    font-size:24px;
    font-weight:bold;
}

.card-number{
    margin-top:60px;
    font-size:28px;
    letter-spacing:2px;
}

.card-footer{
    position:absolute;
    left:20px;
    right:20px;
    bottom:20px;

    display:grid;
    grid-template-columns:1fr auto auto;
    gap:20px;
    align-items:center;
}

#previewHolder{
    text-transform:uppercase;
}

#previewDate{
    white-space:nowrap;
    font-size:18px;
}

#systemLogo{
    font-size:24px;
    font-weight:bold;
    white-space:nowrap;
}

table{
    width:100%;
    border-collapse:collapse;
}

th,
td{
    border:1px solid #333;
    padding:10px;
    text-align:center;
}

th{
    background:#f2f2f2;
}